<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>성적처리</title>
<script type ="text/javascript">
	window.onload = function(){
	const myForm = document.getElementById('myForm');
	//이벤트 연결
	myForm.onsubmit = function(){
		
/*
		const korean = document.getElementById('korean');
		if(korean.value.trim()==''){
			alert ('국어 성적을 입력하세요!');
			korean.value='';
			korean.focus();
			return false;
			}
		
		const english = document.getElementById('english');
		if(english.value.trim()=''){
			alert('영어 성적을 입력하세요!');
			english.value = '';
			english.focus();
			return false;
			}
		const math = document.getElementById('math');
		if(math.value.trim()==''){
			alert('수학 성적을 입력하세요!');
			math.value='';
			math.focus();
			return false;
				}*/
				
				//반복문을 이용해서 조건 체크
				const items = 
					document.querySelectorAll('input[type="text"]');
				for(let i =0;i<items.length;i++){
					 
					if(items[i].value.trim()==''){
						
							//레이블 태그 읽기
							const label = document.querySelector(
									'label[for="'+items[i].id+'"]');
							//레이블명 읽기
							const label_text = label.textContent;
							alert(label_text +'성적 필수 입력');
							items[i].value='';
							items[i].focus();
							return false;
							}//end of if	(입력 여부 체크)
								
								
						//문자인지 숫자인지 체크
						if(isNaN(items[i].value)){
								alert('성적은 숫자만 입력 가능');
								items[i].value='';
								items[i].focus();
								return false;
								}//end of if(문자인지 숫자인지 체크)
									
						//정수인지 아닌지 체크 items[i]을 Number로 형변환해서 isInteger(정수확인)로 넘긴다
			            if(!Number.isInteger(Number(items[i].value))){
			                alert('정수만 입력 가능');
			                items[i].value = '';
			                items[i].focus();
			                return false;
			            }
								
						//0부터 100까지 입력 체크
						if(items[i].value<0 || items[i].value>100){
							alert('0부터 100까지만 입력 가능');
							items[i].value = '';
							items[i].focus();
							return false;
							
							
						
						}
								
				
				}//end of for
		};//end of submit
		
	}//end of load
</script>
</head>
<body>
	<form action="/ch03_ServletJSP/score" method="post" id="myForm">
		
		<ul>
			<li>
				<label for ="korean">국어</label>
				<input type ="text" id ="korean" name="korean">
			</li>
			<li>
				<label for ="english">영어</label>
				<input type ="text" id ="english" name="english">
			</li>
			<li>
				<label for="math">수학</label>
				<input type="text" id="math" name="math">
			</li>
		</ul>
		<input type = "submit" value ="전송">
	
	</form>

</body>
</html>